html { 
  background: url('../images/albumcovers.jpg') no-repeat center center fixed;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 500;
  font-family: 'Sedgwick Ave ', cursive;

}

#heading{
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 50px;
  margin-top: 10px;
}


.answerImage{
  height: 190px;
  width: 190px;
  margin-left: 5px;
}

input{
  margin-left: 20px;
}

#click-start {
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Sedgwick Ave Display", cursive;
}
.click-start{
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 20px;
}

#clock{
  margin-top: 20px;
  margin-bottom: 15px;
}

#finishBtn{
  margin-top: 10px;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 20px;

}

#main-screen {
  border: 2px;
    background-color: black;
    position: absolute;
    margin: auto;
    top:10%;
    right: 0;    
    left: 0;
    width: 795px;
    height: 450px;
    text-align: center;
    font-size: 18px; 
    color: white;
    border-radius: 50px;
    opacity: 0.8;
}

#scoreboard{
  margin-top: 10px;
}


